@import "../sass/mixins.scss";
@import "../sass/variables.scss";

.homeCard{    
    padding: 20px;
    width: 55%;
    height: 80%;
    margin: 20px;
    border-radius: 10px;
    background-color: #E54222;
    justify-content: flex-start;
    flex-direction: column;
    
    
        h5{                       
            line-height: 20px;
            color: rgb(8, 0, 0);
        }
          

        p {   
            font-size: 11px;         
            margin-bottom: 5px;
            
        }

        img {
            @include size(180px, 150px)
            
            
        }   
}



@media screen and (max-width: 800px) {

    .homeCard{
        @include flex(column, center, column);
        padding: 20%;
        width: 100px;
        height: 85%;
        margin: 20px;
        border-radius: 10px;
        background-color: #E54222;
        
            h5{
                line-height: 20px;
                color: rgb(8, 0, 0);
            }   
    
            p {   
                font-size: 11px;         
                height: 1px;
                
            }
    
            img {
                @include size(100px, 130px)
                
                
            }   
    }

}