
.buttonSearch{
    cursor: pointer;
    margin-top: 10px;
    border: 1px, black;
    color: black;     
    font-size: 15px;
}

.input{
    color: rgb(24, 4, 4);
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
}